
body {
  height: auto;
  max-width: auto;
  margin: 20px;
  padding: 20;
  font-family: "Poppins", sans-serif;
  
}
.main--container {
  display: flex;
  flex-direction:row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.chart--display {
  background-color: rgb(234, 243, 243);
  border-radius: 20px;
  border: 1px solid rgb(206, 210, 210);
}
.App{
  width: auto;
  height: auto;
  justify-content: flex-start;
  background-color: #f4f6f7;
  border-radius: 10px;
  border: 2px solid #e0e0e0;
  box-shadow: #e0e0e0 0px 0px 10px 0px;
}
 .donut--container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 500px;
  margin-top: 20px;
  background-color: #f4f6f7;
  border-radius: 10px;
  border: 2px solid #e0e0e0;
  box-shadow: #e0e0e0 0px 0px 10px 0px;


}
h1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
  max-width: 300px;
  font-size: 3rem;
  font-weight: 700;
}

