* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
} 
.boot--container {
 
  padding: 0;
  margin-top: -20px ;
  
  width: 100%;
  height: 100vh;
}

.App{
  /* max-width: auto; */
  justify-content: center;
  background-color: #f4f6f7;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  box-shadow: #e0e0e0 0px 0px 10px 0px;
}
@media screen and (max-width: 768px) {
  .App {
    justify-content: center;
    background-color: transparent;
    box-shadow: none;
    border: none;
    width: 100%;
  }
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  font-size: 72px;
  font-weight: 200;
}
@media screen and (max-width: 768px) {
  .header {
    justify-content: center;
    font-size: 48px;
  }

}

  


